<%- include('../partials/header')%>
    <%- include('navbar')%>
        <div class="container mt-3">
            <div class="card-group">
                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Registration Details</h5>
                        <p class="card-text">Find how many people have registered for the event!</p>
                        <p class="card-text"><small class="text-muted"><a href="/showevent">Show Details</a></small></p>
                    </div>
                </div>
                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Create Event</h5>
                        <p class="card-text">Want to create a event!</p>
                        <p class="card-text"><small class="text-muted"><a href="/create">Create event</a></small></p>
                    </div>
                </div>
                <div class="card shadow-lg">
                    
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This card has even longer content than the first to show that equal
                            height action.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('../partials/footer')%>